* {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.menu>ul {
    display: flex;
    float: right;
}

.menu>ul>li {
    list-style: none;
    padding: 10px;
}

.menu>ul>li>a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 30px;
}

.menu>ul>li>a:hover {
    color: blue;
}

.hero {
    background-image:  linear-gradient(to bottom, rgba(10, 10, 10, 0.52), rgba(0, 0, 0, 0.73)), url(images/hero-img.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.hero>h1 {
    font-size: 300%;
    padding: 50px 40px 40px 80px;
    color: white;
}

.hero>p {
    color: aliceblue;
    padding: 50px 40px 40px 80px;
    width: 50%;
}

.hero-btn {
    border: none;
    border-radius: 5px;
    margin-left: 80px;
    margin-top: 70px;
    padding: 15px;
    background-color: #EF233C;
    color: aliceblue;
}

.donation-dependency, .donation-survive {
    display: flex;
    margin-top: 30px;
}

.donation-dependency-text, .donation-survive-text {
    width: 40%;
    margin-left: 10%;
    margin-top: 10%;
    margin-right: 10%;
}

.donation-dependency-heading, .donation-survive-heading {
    font-size: 200%;
    margin-bottom: 30px;
}

.dependency-btn, .survive-btn {
    border: none;
    margin-top: 30px;
    border-radius: 5px;
    padding: 15px;
    background-color: #EF233C;
    color: aliceblue;
}

.donation-dependency-image {
    width: 40%;
    margin-right: 5%;
}

.donation-survive-image {
    width: 40%;
    margin-left: 10%;
}

.quad-card-header>h2 {
    font-size: 200%;
    margin-bottom: 5px;
}

.quad-card-header {
    text-align: center;
    width: 40%;
    margin-left: 30%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.quad-cards {
    display: flex;
    flex-wrap: wrap;
    margin-left: 22%;
}

.quad-card {
    display: flex;
    background-color: #FEF4F5;
    width: 30%;
    margin: 15px;
    border-radius: 5px;
    padding: 20px;
}

.card-body {
    margin-left: 10%;
}

.three-prayer-photos {
    margin-top: 30px;
    padding: 30px;
    margin-left: 5%;
}

.three-prayer-photos>img {
    width: 27%;
    padding: 30px;
}

.charity-title {
    width: 50%;
    margin-left: 25%;
    text-align: center;
}

.charity-title>h2 {
    font-size: 200%;
    margin-bottom: 5px;
}

.zakat-cards {
    display: flex;
    margin-top: 30px;
    margin-left: 20px;
    margin-bottom: 30px;
    padding: 20px;
}

.zakat-card {
    margin: 10px;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}

.zakat-card img {
    margin-bottom: 10px;
    margin-left: 15px;
}

.zakat-description {
    margin-left: 15px;
}

.zakat-description>p {
    width: 90%;
    margin: 10px 0;
}

.zakat-description>a {
    color: #EF233C;
}

.footer-container {
    background-color: black;
    padding: 50px;
}

footer {
    text-align: center;
    color: white;
}